
<h1>Recipes - index page</h1>

<table>
  <tbody>
    <tr>
      <th>Course Name</th>
      <th>Instruction</th>
      <th>Servings</th>
    </tr>
    <% @recipes.each do |element| %>
      <tr>
        <td>
        <a href="/recipes/<%= element.id%>"><%= element.name %></a>
        </td>
        <td>
          <%= element.instructions%>
        </td>
        <td>
          <%= element.servings %>
        </td>
        <td>
          <a href="/recipes/<%= element.id%>/edit">Edit</a>
        </td>
        <td>
          <form method="post" action="/recipes/<%= element.id%>/delete">
            <button>Delete</button>
          </form>
          </td>
      </tr>
    <% end %>
    <tr><td><button><a href="/recipes/new">Create New Recipe</a></button></td></tr>
  </tbody>
</table>